.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    color: white;
}

.note{
    font-size: 15px;
    color: black;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: darkolivegreen;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

canvas{
    border: 5px dotted rgb(27, 151, 27);
    background-color: white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example{

    from{box-shadow:10px 10px 10px green ;}
    to{box-shadow: 5px 5px 5px darkslategray;}
    
}

#font_size{
    font-size: 30px;
}